<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My 1st Express App</title>
    </head>

    <body>
        <% names.forEach(function(names) { %>
            <h2>Hi, <%= names %></h2>
        <% }) %>
    </body>
</html>
